.paymentdetails {
  display: block;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0px auto;

  .card {
    margin: 20px 0px 20px 0px;
  }
  .test-warning {
    text-align: center;
    margin: 40px 0px;
    font-size: 24px;
    color: red;
  }
}
